* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  max-width: 100vw;
  max-height: 100vh;
}

/* [START] */
/* MAIN TABLES */
.mainTables-wrapper {
  display: flex;
  flex-direction: column;
}

.mainTables-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: whitesmoke;
}

.tableNavigator-wrapper {
  display: flex;
  gap: 10px;
}

.tableNavigator-wrapper a {
  text-decoration: none;
  color: gray;
  font-weight: bold;
}

.one-table-of-mainTables {
  text-align: center;
  background-color: lightgray;
  overflow-x: scroll;
}

/* MAIN TABLES */
/* [FINISH] */

/* [START] */
/* PERIOD SELECTOR */
.rdp {
  position: fixed;
  margin: -5px 0 0 0 !important;
  color: white;
}

.rdp-day_selected {
  background-color: lightgray !important;
  color: black !important;
}

/* .rdp-caption_label {
  color: black !important;
} */

.rdp-month {
  background-color: gray;
  border-radius: 10px;
}

/* PERIOD SELECTOR */
/* [FINISH] */

.outTableModal-wrapper {
  z-index: 200;
}